:root{
  --primary: #FFFFFF;
  --secondary:#E5E5E5;
  --accent:#353535;

}
.App {
  text-align: center;
  background-color: var(--primary);
  line-height: 2;
}
.top-nav{
  background-color: var(--secondary);
  color: var(--primary);
  margin: 0;
  padding: 5rem;
  font-size: larger;
  display: flex;
  justify-content: space-between;
}
.logo{
  font-size: 30px;
  font-weight: 600;
  color:var(--accent);
}
.search-input{
  padding: .5rem;
  width: 25rem;
  border-radius: 3px;
  border: 1px solid var(--accent);
  font-size: 16px;
}
.search-button{
  padding: .5rem;
  background-color: var(--accent);
  color: var(--primary);
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  width: 6rem;
}

.action-button{
  padding: .5rem;
  background-color: var(--accent);
  border-radius: 3px;
  cursor: pointer;
  margin-right: 1rem;
  font-size: 16px;
  color: var(--primary);
  flex-basis: 0;
  flex-grow: 1;
  width: 5rem;
}
.action-buttons>button:last-child{
  margin-right: 0;
 
}
.slider-container{
  width: 40rem;
  height: 420px;
  margin: auto;
 margin-top: 1rem;
}
.slider{
  height: 100%;
  position: relative;
}
.slides{
  width: 100%;
  height: 100%;
  
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}
.left-arrow{
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #5b5a5a32;
  font-size: 30px;
  color: #FFFFFF;
  border:none;
  cursor:pointer;
}
.right-arrow{
  position: absolute;
  top: 50%;
  right: 0;
  background-color: #21202032;
  font-size: 30px;
  color: #FFFFFF;
  border:none;
  cursor:pointer

}
.link{
  text-decoration: none;
  color: var(--accent);
}
.game-tile-container{
 
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 padding:1rem;
}
.game-tile{
  display: flex;
  /* border: 1px dotted black; */
  margin: auto;
  flex-direction: column;
  padding: 1rem;
  color: var(--accent);
  font-weight: 700;
  text-align: left;
  
}
.game-thumbnail{
  height: 20rem;
  width: 100%;
  object-fit: cover;
  border: 1px solid black;
}
.game-info{
  text-align: left;
  /* border: 2px solid var(--accent);
  padding: 1rem;
  width: auto; */
  
}
.mini-screenshots{
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.mini-screenshots>div{
  border: 5px solid black;
  width: 88px;
  height: 50px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.mini-screenshots>div>img{
  width: 100px;
  height: 80px;
  
}
.main-screenshot{
  height: 10rem;
  width: 100%;
}
.action-buttons{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}
.action-buttons> button{
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: .5rem;
  cursor: pointer;
  

}
.action-buttons> div{
  text-align: left;
}
.primary{
  background-color: var(--accent);
  color: var(--secondary);

}
.price-tag{
  width: 100%;
  text-align: left;
}
.product-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: .75rem;
  
}
.game-details{
  width: 100%;
  
  padding: 1rem;
  box-sizing: border-box;
  

}
.game-details>div{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid lightgray;
}
.selected-product{
  display: flex;
  margin: 1rem;
  justify-content: center;
  gap: 7rem;
  
}

.product-description{

  text-align: left;
  max-width: 700px;
}
.read-btn{
  padding: 1rem;
  width: 100%;
  background-color: var(--secondary);
  color:var(--accent);
 
  cursor:pointer;
}
.game-title{
  max-width: 100%;
  box-sizing: border-box;
  padding: 1rem;
 
}
.social-links{
  display: flex;
  width: 100%;
  justify-content: space-around;
  border: 1px solid var(--accent);
  background-color: var(--secondary);
  padding: 1rem;
  box-sizing: border-box;
}
.social{
 margin-top: 2rem;
  
}
.social-links>span>a{
  text-decoration: none;
  color: var(--accent);
}

.specification-container{
 width: 100%;
  
  box-sizing: border-box;
  display: flex;
  padding: 1.5rem;
  background-color: var(--secondary);
  font-size: small;
 
}
