:root{
  --primary: #FFFFFF;
  --secondary:#E5E5E5;
  --accent:#353535;

}
.App {
  text-align: center;
  background-color: var(--primary);
  line-height: 2;
}
.top-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
}
.logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
}
.search{
  display: flex;
  align-items: center;
}
.search-input{
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}
.search-button{
  padding: 6px 12px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* .action-buttons{
  display: flex;
  align-items: center;
} */
.action-button{
  padding: 6px 12px;
  margin-left: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .top-nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .search {
    margin-top: 10px;
  }
  .action-buttons {
    margin-top: 10px;
  }
}
.action-buttons>button:last-child{
  margin-right: 0;
 
}
.slider-container{
  width: 40rem;
  height: 420px;
  margin: auto;
 margin-top: 1rem;
}
.slider{
  height: 100%;
  position: relative;
}
.slides{
  width: 100%;
  height: 100%;
  
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}
.left-arrow{
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #5b5a5a32;
  font-size: 30px;
  color: #FFFFFF;
  border:none;
  cursor:pointer;
}
.right-arrow{
  position: absolute;
  top: 50%;
  right: 0;
  background-color: #21202032;
  font-size: 30px;
  color: #FFFFFF;
  border:none;
  cursor:pointer

}
.link{
  text-decoration: none;
  color: var(--accent);
}
.game-tile-container{
 
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 padding:1rem;
}
.game-tile{
  display: flex;
  /* border: 1px dotted black; */
  margin: auto;
  flex-direction: column;
  padding: 1rem;
  color: var(--accent);
  font-weight: 700;
  text-align: left;
  
}
.game-thumbnail{
  height: 20rem;
  width: 100%;
  object-fit: cover;
  border: 1px solid black;
}
.game-info{
  text-align: left;
  /* border: 2px solid var(--accent);
  padding: 1rem;
  width: auto; */
  
}
.mini-screenshots{
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.mini-screenshots>div{
  border: 5px solid black;
  width: 88px;
  height: 50px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.mini-screenshots>div>img{
  width: 100px;
  height: 80px;
  
}
.main-screenshot{
  height: 10rem;
  width: 100%;
}
.action-buttons{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}
.action-buttons> button{
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: .5rem;
  cursor: pointer;
  

}
.action-buttons> div{
  text-align: left;
}
.primary{
  background-color: var(--accent);
  color: var(--secondary);

}
.price-tag{
 
  text-align: left;
}
.product-metrics{
  display: flex;
  justify-content: space-between;
}
.product-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: .75rem;
  
}
.counter>button{
  background-color: transparent;
 
}
.game-details{
  width: 100%;
  
  padding: 1rem;
  box-sizing: border-box;
  

}
.game-details>div{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid lightgray;
}
.selected-product{
  display: flex;
  margin: 1rem;
  justify-content: center;
  gap: 7rem;
  
}

.product-description{

  text-align: left;
  max-width: 700px;
}
.read-btn{
  padding: 1rem;
  width: 100%;
  background-color: var(--secondary);
  color:var(--accent);
 
  cursor:pointer;
}
.game-title{
  max-width: 100%;
  box-sizing: border-box;
  padding: 1rem;
 
}
.social-links{
  display: flex;
  width: 100%;
  justify-content: space-around;
  border: 1px solid var(--accent);
  background-color: var(--secondary);
  padding: 1rem;
  box-sizing: border-box;
}
.social{
 margin-top: 2rem;
  
}
.social-links>span>a{
  text-decoration: none;
  color: var(--accent);
}

.specification-container{
 width: 100%;
  
  box-sizing: border-box;
  display: flex;
  padding: 1.5rem;
  background-color: var(--secondary);
  font-size: small;
 
}

/* .cart-item{
  
  background-color: var(--secondary);
  padding: 2rem;
  box-sizing: border-box;
  margin: 1rem;
  border-radius: .8rem;
  display: flex;
  flex-direction: column;
}
.cart-image-title{
  display: flex;
  justify-content: space-evenly;
  
}
.cart-game-image{
height: 120px;
width: 100px;
}
.cart-game-title{
  font-size: 19px;
  text-align: left;
  align-self: center;
  margin:10px;

}
.cart-game-details{
  display: flex;

}
.cart-price-info{
 
  padding: 1rem;
 
  text-align: left;
  font-size: 14px;
}
.cart-action-buttons{
  display: flex;
  justify-content: flex-start;
  
} 
.cart-action-buttons>button{
  margin: .4rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-size: 14px;
  color: lightslategray;
}
.off-percent{
  background-color: lightseagreen;
  display: inline;
  padding: 5px;
  box-sizing: border-box;
  color: white;
  border-radius: 4px;
  font-size: 9px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 15px;
}
.total-price{
  display: flex;
  gap: 15px;
  
} */
.cart-item {
  background-color: var(--secondary);
  padding: 2rem;
  box-sizing: border-box;
  margin: 1rem;
  border-radius: .8rem;
  display: flex;
  flex-direction: column;
}

.cart-image-title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cart-game-image {
  height: 120px;
  width: 100px;
}

.cart-game-title {
  font-size: 19px;
  text-align: left;
  align-self: center;
  margin: 10px;
}

.cart-game-details {
  display: flex;
}

.cart-price-info {
  padding: 1rem;
  padding-left:0;
  text-align: left;
  font-size: 14px;
  align-self: center;
}

.cart-action-buttons {
  display: flex;
  justify-content: center;
  margin: .5rem;
}

.cart-action-buttons > button {
  margin: .4rem;
  margin-bottom: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-size: 14px;
  color: lightslategray;
}

.off-percent {
  background-color: lightseagreen;
  display: inline;
  padding: 5px;
  box-sizing: border-box;
  color: white;
  border-radius: 4px;
  font-size: 9px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 15px;
}

.total-price {  display: flex;
  gap: 15px;
}

/* Responsive Styles */
@media screen and (min-width: 768px) {
  .cart-items{
    display: flex;
    flex-direction: column;
    max-width: 60%;
  }
  .cart-image-title{
   
    
  }
  .cart-price-info{
    padding-left: 0;
    display: inline-block;
  }
  .cart-item{
    padding: 1rem;
  }
  .cart-game-image {
    height: 200px;
    width: 100px;
  }
}
